{% extends 'tarefas/base.html' %}

{% block titulo %}
Tarefas
{% endblock %}

{% block navegador %}
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/projetos">Projetos</a></li>
		<li><a href="./">Tarefas</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<form method="POST">
    <label for="ids">ID:</label>
    <select id="ids" name="ids">
        {% for id in ids %}
        <option value="{{ id }}">{{ id }}</option>
        {% endfor %}
    </select>
    {% csrf_token %}
    <button type="submit">Finalizando Tarefa</button>
</form>
<h2>Tarefas Ativas</h2>
<table>
	<thead>
		<tr>
            <th>ID</th>
            <th>Tarefas</th>
            <th>Funcionários</th>
            <th>Projetos</th>
            <th>Solicitantes</th>
            <th>Status</th>
            <th>Data de Criação</th>
            <th>Data de Finalização</th>
        </tr>
	</thead>
	<tbody>
		{% for tarefa in df %}
      <tr>
        <td>{{ tarefa.id }}</td>
        <td>{{ tarefa.tarefas|upper }}</td>
        <td>{{ tarefa.funcionarios|upper }}</td>
        <td>{{ tarefa.projetos|upper }}</td>
        <td>{{ tarefa.solicitantes|upper }}</td>
        <td>{{ tarefa.status|upper }}</td>
        <td>{{ tarefa.data_criacao|upper }}</td>
        <td></td>
      </tr>
    {% endfor %}
	</tbody>
</table>
<p><a href="/">Back to Home</a></p>
{% endblock %}

{% block lateral %}
<aside>
	<ul>
		<li><a href="/projetos/criando_projetos">Criar Projeto</a></li>
		<li><a href="/projetos/finalizando_projetos">Finalizar Projeto</a></li>
		<li><a href="./criando_tarefas">Criar Tarefa</a></li>
		<li><a href="./finalizando_tarefas">Finalizar Tarefa</a></li>
	</ul>
</aside>
{% endblock %}

