{% extends 'tarefas/base.html' %}

{% block titulo %}
Tarefas
{% endblock %}

{% block navegador %}
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/projetos">Projetos</a></li>
		<li><a href="./">Tarefas</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<table>
	<thead>
		<tr>
			{% for tarefa in tarefas_keys %}
				<th>{{ tarefa }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for tarefa_ativa in df %}
			<tr>
				{% for tarefa in tarefas_value %}
					<td>{{ tarefa }}</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock %}

{% block lateral %}
<aside>
	<ul>
		<li><a href="/projetos/criando_projetos">Criar Projeto</a></li>
		<li><a href="/projetos/finalizando_projetos">Finalizar Projeto</a></li>
		<li><a href="./criando_tarefas">Criar Tarefa</a></li>
		<li><a href="./finalizando_tarefas">Finalizar Tarefa</a></li>
	</ul>
</aside>
{% endblock %}
