{% extends 'home/base.html' %}

{% block titulo %}
Home
{% endblock %}

{% block navegador %}
<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/projetos">Projetos</a></li>
		<li><a href="/tarefas">Tarefas</a></li>
	</ul>
</nav>
{% endblock %}

{% block content %}
{% endblock %}

{% block lateral %}
<aside>
	<ul>
		<li><a href="/projetos/criando">Criar Projeto</a></li>
		<li><a href="/projetos/finalizando">Finalizar Projeto</a></li>
		<li><a href="/tarefas/criando">Criar Tarefa</a></li>
		<li><a href="/tarefas/finalizando">Finalizar Tarefa</a></li>
	</ul>
</aside>
{% endblock %}
