.conteudo {
    background-color: #f2f2f2;
    padding: 5px;
    float: right;
    width: 75%;
}

.lateral {
    background-color: #f2f2f2;
    padding: 5px;
    float: left;
    width: 20%;
}

.menu {
    padding: 5px;
    margin-bottom: 15px;
}

ul  {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

.menu ul li {
    float: left;
}

.menu ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em
}